body {
  background-color: #ffdf88;
}

.contain-section {
  position: relative;
  height: 100vh;
}

.top-right-logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.logo-pic-1,
.logo-text {
  width: 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.logo-text {
  top: 9rem;
}

.contain-pic {
  overflow: hidden;
  height: 100%;
  object-fit: contain;
  background-color: #a8fbd3;
}

.img-1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 1.2s ease;
}

.img-1:hover {
  transform: scale(1.2);
}

.row {
  height: 100%;
}

.right-side {
  padding: 2rem;
}

.contain-section h1 {
  /* font-size: 3.6rem; */
  font-size: clamp(2.5rem, 2.49135vw, 4rem);
  color: #333;
  margin-bottom: 4rem;
  font-weight: bold;
}

.new-password-label,
.email-label,
.confirm-password-label {
  /* font-size: 2rem; */
  font-size: clamp(1.7rem, 1.28408vw, 3.6rem);
  color: #333;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 30.7rem;
  /* height: 5.2rem; */
  max-height: 5.2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
}
input[name="password"] {
  margin-bottom: 0;
}

.submit {
  width: 22.2rem;
  height: 4.5rem;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #a76545;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 4rem;
}

.submit:hover {
  background-color: #8a4d2a;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form-section {
  width: 100%;
  max-width: 36rem;
  padding: 2rem;
}
