header {
  margin: 0;
}

.hero-section img {
  margin-bottom: 2.5rem;
  width: 100%;
}

.topic-shop {
  /* font-size: clamp(2.5rem, 1.89999vw, 3.5rem); */
  font-size: 3.5rem;
  font-size: clamp(2rem, 3vw + 1rem, 3.5rem);
  margin-bottom: 2rem;
  font-weight: bold;
}

.contain-icon {
  width: 15rem;
  margin-bottom: 2.5rem;
}

/* .contain-icon {
  border-radius: 50%;
  width: 10rem;
  background-color: #ffdf88;
} */

.icon-category {
  margin: 0 auto;
  background-color: #ffdf88;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 50%;
  /* margin: 1rem; */
}

.icon-category img {
  width: 80%;
}

.contain-product {
  width: 90%;
  margin-bottom: 2.5rem;
}

.category-name {
  font-size: 1.6rem;
}

.category-link:link,
.category-link:visited {
  text-decoration: none;
  color: #000;
}

.product-link:link,
.product-link:visited {
  text-decoration: none;
  color: #000;
  display: block;
}

.card {
  border-radius: 15px;
  --bs-card-border-color: none;
  /* height: 35rem; */
  width: 90%;
  height: 45rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.card img {
  border-radius: 15px;
  width: 90%;
  /* height: 50%; */
  height: 25rem;
  object-fit: contain;
}

.card-subtitle {
  font-size: clamp(1.6rem, 1.1111vw, 2.3rem);
}

.price-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
}

/* .card-body h4 {
  font-size: clamp(1.4rem, 1.299999vw, 2.5rem);
} */

.cart-btn:link,
.cart-btn:visited {
  background-color: #a76545;
  color: #fff;
  font-size: clamp(1.2rem, 1.1111vw, 2.3rem);
  /* width: 15rem; */
  margin: 0 auto;
  position: absolute;
  transition: all 0.5s ease;
  bottom: 1rem;
}

.cart-btn:hover,
.cart-btn:active {
  background-color: #915a3d;
  transform: translatey(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
