h1{
    text-align: center;
    font-size: 5em;
}
h2{
    font-size: 3em;
    margin-bottom: 1em;
}
.content{
 width: 60%;
}
.lg p{
       max-width: 95%;
    font-size: 2em;
}
.lg .row{
    align-items: center;
    justify-content: center;
    border-bottom: 0.5em #A76545 dashed;
    margin: 0em 10em; 
}
.solution,.solution-yellow{
        margin: 2em;
    text-align: center;
    padding: 2em;
    background-color:#ACC572;
    width: 20%;
    border-radius: 2em;
}
.solution-yellow{
    background-color: #FFDF88;
}
.icon{
    color: #000000;
    font-size: 3em;
}
.container-fluid{
    margin-bottom: 3em;
}

/*------------*/
.sm h1{
    margin-bottom: 1em;
}
.sm .row{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.4em black dashed;
    margin: 0em 4em;
}
.sm h2{
    font-size: 2.5em;
    margin-top: 0em;
   
}
.sm p{
    font-size: 1.5em;
    padding: 0em 2em;
    text-align: center;
}
.sm .row h2{
text-align: center;
}
.sm .row .solution,.sm .row .solution-yellow{
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.sm .row .soslution-yellow{
    background-color: #FFDF88;
}
