
body {
    background-color: #ffffff;
}
header {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}
.head-pic h1 {
    padding-top: 0.5em;
    left: 45%;
    position: absolute;
    z-index: 2;
}

#head-cover,#sm-head-cover {
    position: relative;
    /* margin-top: -6em; */
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    z-index: 1;
}
#sm-head-cover{
    margin-top: -3.9em;
}
canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
    left: 0;
    height: 50%;
    background-color: #ffffff;
}
#intro,#sm-intro {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    color: rgb(105, 105, 105);
    margin: 1em 5em;
}

.banner {
    padding: 5em 0em;
    overflow: auto;
    /* height: 62vh; */
    background-color: #FFDF88;
    margin-bottom: 4em;
}

.graphic {
    display: flex;
    flex-direction: column;
    align-items: start;
    float: left;
    max-width: 25%;
}

#bannerfont {
    max-width: 75em;
   padding-top: 20em;
    margin: 0 auto;
}


.docter {
    overflow: auto;
    background-color: white;
    width: 40%;
    text-align: center;
    margin: 4em 2em 0em 0em;
    float: right;
}

#color {
    background-color: #FFDF88;
    position: absolute;
    width: 40%;
    height: 11%;
}

#docterGK,#sm-docterGK {
    position: relative;
}

.docter h3 {
    font-size: 3em;
}

.docter p {
    font-size: 1.9em;
    padding: 0em 2em 2em 2em;
}

span {
    font-weight: 800;
}

h2 {
    margin-bottom: 1em;
}
.nutrian,
.foot {
    margin: 0 auto ;
    position: static;
}
.lg .row{
      margin: 0 auto;
      padding: 0em 10em;
}
.row1 {
    padding: 5em;
    margin-top: 10em;

}

h4 {
    font-weight: 900;
    font-size: 2.5em;
}

.balanced {
    text-align: start;
}

.balanced p {
    font-size: 2em;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot h2 {
    font-size: 4em;
}

.btn-orange {
     padding:0.1em 0.3em;
    margin-bottom: 2em;
    font-size: 1em;
    background-color: #E56B00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 1em;
}
.btn-orange:hover{
    background-color: #272727;
    color: #ffffff;
    transition: 0.2s;
}
/* button{
    padding: 1em;
    margin-bottom: 2em;
    font-size: 2em;
    background-color: #E56B00;
    color: #ffffff;
} */
/* .button:hover {
    transition: 0.2s;
    color: black;
    background-color: #ffffff;
} */

.foot span {
    color: rgb(221, 40, 40);
}

.sm #head-cover {
    margin-top: -4em;
}
.sm .row1{
margin: -2em 0em;
}
.sm #intro {
    margin: 0;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: -1em;
    padding-left: 5em;
}

.sm #bannerfont {
    width: 70%;
    margin: 0 auto;
}

.sm .docter {
    margin-right: 7em;
    width: 80%;
}
.sm .banner {
    padding-bottom: 3em;
    height: 70vh;
}
.sm h2{
    font-size: 3em;
}
.sm .foot h2{
font-size: 2em;
}
