.product-pic {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.small-product-pic {
  width: 85%;
  border-radius: 15px;
}

.item-detail {
  gap: 5%;
}

.product-name {
  align-items: center;
  width: 95%;
  font-size: clamp(2rem, 1.66666vw, 3.2rem);
}
