body {
    background-color: #ffffff;
}
.row {
    margin: 0;
    margin-top: -3.9em;
    margin-left: -2em;
}

.left {
      margin-top: 3.9em;
    background-color: #ACC572;
    width: 80%;
    height: 90vh;
    text-align: center;
}

img {
    width: 25em;
}

.menu {
    margin: 2em 10em;
}

.left h3 {
    font-size: 3em;
    margin: 0.5em;
}

.menu h2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
}

.menu h2:hover {
    background-color: #c5c5c5;
}

button {
    font-size: 2.5em;
    border-radius: 1em;
    background-color: #A76545;
}

a {
    text-decoration: none;
    color: #000000;
}

header{
    margin-bottom: 0;
}
button a {
    color: #ffffff;
    padding: 1em;
}

button:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
    transition: 0.1s;
    background-color: #92593d;
}
.info {
    margin-left: 10em;
    display: block;
}

.info h3 {
    width: 65%;
    padding-left: 1em;
    font-size: 2.5em;
    background-color: #dbdbdb;
    border-radius: 0.1em;
}

.info i {
    font-size: 3em;
    color: black;
}

.info i:hover {
    transform: scale(1.1);
}

span {
    font-weight: 100;
}

.accordion {
    width: 70%;
    margin: 0 auto;
}

.faq {
    font-size: clamp(1.8rem, 1.5vw, 3.5rem);
    margin-bottom: 3rem;
    margin-top: 1em;
}

.accordion-button {
    font-size: clamp(1.5rem, 1.3vw, 3rem);
    background-color: #acc572;
    padding: 15px;
}

.accordion-body {
    font-size: clamp(1.2rem, 1vw, 3rem);
}
.accordion-button:not(.collapsed) {
  background-color: #7b944f;
  color: #fff;
} 
.q {
    margin-top: 1em;
    background-color: #ACC572;
    padding: 2.5em;
    border-radius: 0.5em;
}

.q h2 {

    float: left;
}

.q i {
    font-size: 2em;
    margin-left: 9em;
}

.q i:hover {
    color: #ffffff;
}

/*-------------------------*/
.profile {
    margin: -5em -1em 0em -1em;
    background-color: #ACC572;
}

.sm h3 {
    font-size: 3em;
}

.sm img {
    width: 20%;
}

.sm button {
    margin-bottom: 1em;
}

.sm .info {
    margin-top: 2em;
}

.sm .info h3 {
    font-size: 2em;
    margin-left: 3em;
}

.sm h1 {
    margin-bottom: 1em;
    margin-top: -2em;
}

.sm .row {
    background-color: #acc572;
}

.sm .row {
    margin-top: 1em;
}

.sm .faq i {
    margin-left: 3em;
}